@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../../css/fonts/N5Lbe1fynPA1KT8BFvAiGw.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'), url(../../css/fonts/Op9nD2u96-RO01_6Io91EA.woff2) format('woff2');
}
body{
	font-family: Helvetica, Arial, sans-serif ;
	font-size: 15px;
	background: #fff;
}

h1, h2, h3, h4, h5, h6{
	line-height: 20px;
}

p{
	line-height: 20px;
}

.clearfix{
	clear: both;
}

.icon:before{
	content: attr(data-icon);
	font-family: "Pictos";
	line-height: 0px;
	margin-right: 5px;
	font-weight: normal;
}

/*--header bar---*/
.ui-header{
	background: #4f4f4f; /* Old browsers */
	background: -moz-linear-gradient(top,  #4f4f4f 0%, #424242 85%, #424242 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(85%,#424242), color-stop(100%,#424242)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4f4f4f 0%,#424242 85%,#424242 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4f4f4f 0%,#424242 85%,#424242 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4f4f4f 0%,#424242 85%,#424242 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4f4f4f 0%,#424242 85%,#424242 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#424242',GradientType=0 ); /* IE6-9 */

	height: 50px;
	padding-top: 20px;
	position: relative;
	border-bottom: none;
}
.logo a.ui-link{
	color: #fff !important;
	font-family: "Roboto",Arial,Helvetica,sans-serif;
	text-decoration: none;
}
.header-bar .ui-btn-s {
	top: 8px !important;
	right: 8px;
}

.header-bar .ui-btn-left{
	left: 0 !important;
}
.header-bar h1 {
	text-align: center;
}
.mobile-logo {
	max-height : 50px;
}
.ui-btn-s {
	display: inline-block;
	font-size: 14px;
	text-decoration: none;
	line-height: ;
	padding: 12px 10px 11px 15px;
	height: 17px;
	border-radius: 3px;	
	text-align: center;
}

.ui-btn-s {
	color: #ffffff;
	-webkit-text-shadow: 0px -1px 0px #6a8e1f;
	-moz-text-shadow: 0px -1px 0px #6a8e1f;
	text-shadow: 0px -1px 0px #3b3b3b;
	box-shadow: 0px 1px 2px #3b3b3b;
	-moz-box-shadow: 0px 1px 2px #3b3b3b;
	-webkit-box-shadow: 0px 1px 2px #3b3b3b;
	background: #686868; /* Old browsers */
	background: -moz-linear-gradient(top,  #686868 0%, #5a5a5a 85%, #4d4d4d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#686868), color-stop(85%,#5a5a5a), color-stop(100%,#4d4d4d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #686868 0%,#5a5a5a 85%,#4d4d4d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #686868 0%,#5a5a5a 85%,#4d4d4d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #686868 0%,#5a5a5a 85%,#4d4d4d 100%); /* IE10+ */
	background: linear-gradient(top,  #686868 0%,#5a5a5a 85%,#4d4d4d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686868', endColorstr='#4d4d4d',GradientType=0 ); /* IE6-9 */
}

.ui-btn-s:hover{
	background: #8a8a8a; /* Old browsers */
	background: -moz-linear-gradient(top,  #8a8a8a 0%, #5a5a5a 85%, #4d4d4d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8a8a8a), color-stop(85%,#5a5a5a), color-stop(100%,#4d4d4d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8a8a8a 0%,#5a5a5a 85%,#4d4d4d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8a8a8a 0%,#5a5a5a 85%,#4d4d4d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8a8a8a 0%,#5a5a5a 85%,#4d4d4d 100%); /* IE10+ */
	background: linear-gradient(top,  #8a8a8a 0%,#5a5a5a 85%,#4d4d4d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a8a8a', endColorstr='#4d4d4d',GradientType=0 ); /* IE6-9 */
}
.ui-navbar.ui-mini{
	/*margin-top: 20px;*/
}
.ui-navbar li .ui-btn .ui-btn-inner{
	padding: 15px 0px;
	border-bottom: 1px solid #bbbbbb;
}
.ui-btn-inner{
	border: none;
	background: none;

}
.post-new-job .ui-btn-inner{
	font-size: 1em;
}

.page-resume .job-navbar li .ui-btn .ui-btn-inner{
	border-bottom: 1px solid #bbbbbb;
	background: #ededed;
	background: -moz-linear-gradient(top, #f9f9f9 0%, #f5f5f5 85%, #ededed 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8a8a8a), color-stop(85%,#ededed), color-stop(100%,#4d4d4d));
	background: -webkit-linear-gradient(top, #f9f9f9 0%,#f5f5f5 85%,#ededed 100%);
	background: -o-linear-gradient(top, #f9f9f9 0%,#f5f5f5 85%,#ededed 100%);
	background: -ms-linear-gradient(top, #f9f9f9 0%,#f5f5f5 85%,#ededed 100%);
	background: linear-gradient(top, #f9f9f9 0%,#f5f5f5 85%,#ededed 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ededed',GradientType=0 );
	color: #777777;
	border-top-left-radius: 3px;
	border-top-right-radius: 0px;
	z-index: 999;
	border-bottom-left-radius: none;
	border-bottom-right-radius: none;
	box-shadow: none !important;
}

.job-navbar .ui-block-a .ui-btn-inner{
	border-top-right-radius: 5px !important;
	-moz-border-radius-topright: 5px !important;
}

.job-navbar .ui-block-b .ui-btn-inner{
	border-top-left-radius: 3px !important;
	-moz-border-radius-topleft: 3px !important;
}

.job-navbar .ui-block-a .ui-btn-active .ui-btn-inner{
	border-top-right-radius: 0px !important;
	-webkit-border-top-right-radius: 0px !important;
	-moz-border-radius-topright: 0px !important;
}

.job-navbar .ui-block-b .ui-btn-active .ui-btn-inner{
	border-top-left-radius: 0px !important;
	-moz-border-radius-topleft: 0px !important;
}

.page-resume .job-navbar li a.ui-btn.ui-btn-active{
	border-bottom-right-radius: 5px;
	box-shadow: -3px 2px 3px #424242;
	border: none;	
	padding-bottom: 1px;
	background: #424242 !important;
}

.page-resume .ui-header .job-navbar li.ui-block-b a.ui-btn.ui-btn-active{
	box-shadow: 3px 2px 3px #b4b4b4;
}

.page-resume .job-navbar li .ui-btn{
	background: #424242 !important;
}

.page-resume .job-navbar li .ui-btn.ui-btn-active .ui-btn-inner{
	background: #424242;
	box-shadow: none;
	border: none;
	color: #fff;
}

.page-resume .job-navbar li a.ui-btn .ui-btn-inner .ui-btn-text{
	font-weight: bold;
	text-shadow:none;
	font-size: 12px;
	font-family: "Roboto",Arial,Helvetica,sans-serif;
	color: #777777 !important;
}

.page-resume .job-navbar li a.ui-btn.ui-btn-active .ui-btn-inner .ui-btn-text,
a.ui-btn-active, a.ui-btn-active:hover{
	color: #ffffff !important;
}

.job-navbar li .ui-btn{
	border:none !important;
	box-shadow: -3px 1px -1px 1px #dadada;
	

}
.ui-grid-a{
	border-bottom: 1px solid #bbbbbb;
}
.footer-bar{
	text-align: center;
	color: #9b9b9b;
	font-size: 12px;
	font-family: "Roboto",Arial,Helvetica,sans-serif;
	background: none !important;	
	text-shadow:none !important;
}

/****************************/

.search a.icon{
	color: #979797 !important;
}
.search .ui-btn-s {
	margin-left: 10px;
	color: #ffffff;
	-webkit-text-shadow: 0px -1px 0px #6a8e1f;
	-moz-text-shadow: 0px -1px 0px #6a8e1f;
	text-shadow: 0px -1px 0px #3b3b3b;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border: 1px solid #cccccc;
	background: #686868; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfcfc 0%, #f5f5f5 85%, #ececec 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(85%,#ececec), color-stop(100%,#4d4d4d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f5f5f5 85%,#ececec 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfcfc 0%,#f5f5f5 85%,#ececec 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfcfc 0%,#f5f5f5 85%,#ececec 100%); /* IE10+ */
	background: linear-gradient(top,  #fcfcfc 0%,#f5f5f5 85%,#ececec 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ececec',GradientType=0 ); /* IE6-9 */
	height: 14px;
}

.search .ui-btn-s {	
	float: left;
	padding: 12px 8px 10px 12px;
	font-size: 1.1em;
}
.search{
	background: #ededed;
	padding: 10px 0px;
	margin-bottom: -10px;
}

.search-text{	
	position: relative;	
	margin: -8px 10px 10px 62px;
}
.search-text .ui-input-text{
	border-radius: 3px !important;
	border: none;
}
.search-text input{
	width: 100%;
	font-weight: bold;
	color: #777777;
	font-size: 13px;
	font-family: "Roboto",Arial,Helvetica,sans-serif;
}

div.ui-input-text input.ui-input-text{
	padding: 10px;	
}

textarea.ui-input-text{
	height: 150px;
	resize: vertical;
}

.search-text span.icon { 
	position: absolute;
	top: 10px;
	right: 15px;
	color: #646464;
}
/*--listView--*/
.ui-content .ui-listview{
	margin-top: 0px;
	margin-bottom: 10px;
}
.ui-listview li{
	position: relative;	
}
.ui-listview .ui-btn-up-c{
	border-top: none;
	background: #fefefe;
	border-bottom: 1px solid #ebebeb;	
	border-right: none;
}
.arrow-right{
	width: 8px;
	height: 10px;
	background: url(../img/icon.png) no-repeat;
	display: block;
	position: absolute;
	right: 12px;
	top: 50%;
	margin-top: -5px;
}

.ui-listview{
	box-shadow: 2px 2px 2px #cccccc;
	-moz-box-shadow: 2px 2px 2px #cccccc;
	-webkit-box-shadow: 2px 2px 2px #cccccc;
}
.ui-listview .thumb-img{
	height: 50px;
	width: 50px;
	border-radius: 50px;
	overflow: hidden;
	float: left;
	margin-top: 10px;
}
.ui-listview .intro-text{	
	margin-left: 65px;
	display: block;
}
.ui-listview a{
	text-decoration: none;
}
.ui-listview .intro-text h1{
	font-size: 17px;
	color: #488bb2;
	font-weight: bold;
	margin: 3px 0 10px 0
}
.ui-listview .intro-text .positions{
	color: #949494;
	font-size: 15px;
	font-weight: bold;
	margin-top: -4px;
}
.ui-listview .intro-text .locations{
	color: #979797;
	font-size: 15px;	
	margin-top: -4px;

}
.ui-listview .intro-text .icon-locations{
	width: 17px;
	height: 17px;
	background: url(../img/icon.png) no-repeat -8px 0px;
	display: block;
	float: left;	
	margin-right: 7px;
}

.ui-footer{
	padding: 20px 0;
	color: #9b9b9b;
	font-size: 12px;
	text-align: center;
	line-height: 18px;
	border-top: 1px solid #dfdfdf;
	/*margin-top: -15px;*/
	border-bottom: none;
	font-weight: bold;
	
}
.ui-footer .location{
	font-size: 15px;
	color: #979797;
	font-weight: normal;
}
.ui-footer .copyright{
	font-size: 12px;
	color: #9b9b9b;
	font-weight: bold;
}
.ui-footer .policty{
	font-size: 12px;
	color: #9b9b9b;
	font-weight: normal;
}

ul.menu-bottom {
	width: auto;
	margin: 0 auto;
}
ul.menu-bottom li {
	display: inline-block;
	margin-left: 20px;
}

ul.menu-bottom li .ui-link:visited, ul.menu-bottom li .ui-link, ul.menu-bottom li .ui-link:hover {
	color : #9B9B9B;
	text-decoration: none;
	font-weight: normal;
}
ul.menu-bottom li .ui-link:hover {
	color : #818080;
}

a.btn-grey{
	text-decoration: none;
}

.btn-grey, .ui-select .ui-btn, .ui-btn{
	color: #777777 !important;
	text-shadow: 0 -1px 0 #efefef !important;
	-moz-text-shadow: 0 -1px 0 #efefef  !important;
	-webkit-text-shadow: 0 -1px 0 #efefef  !important;
	-webkit-box-shadow: 1px 0 1px 0 #e3e3e3;
	-moz-box-shadow: 1px 0 1px 0 #e3e3e3;
	box-shadow: 1px 0 1px 0 #e3e3e3;
	border: 1px solid #bababa;
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #fafafa 16%, #f0f0f0 85%, #e0e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(16%,#fafafa), color-stop(85%,#f0f0f0), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#fafafa 16%,#f0f0f0 85%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 0%,#fafafa 16%,#f0f0f0 85%,#e0e0e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#fafafa 16%,#f0f0f0 85%,#e0e0e0 100%); /* IE10+ */
	background: linear-gradient(top,  #fefefe 0%,#fafafa 16%,#f0f0f0 85%,#e0e0e0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */

	text-align: center; 
}

.btn-grey:hover, .ui-select .ui-btn:hover{
	-webkit-box-shadow: 1px 0 1px 0 #e3e3e3;
	-moz-box-shadow: 1px 0 1px 0 #e3e3e3;
	box-shadow: 1px 0 1px 0 #e3e3e3;

	background: #e5e5e5; /* Old browsers */
	background: -moz-linear-gradient(top,  #e5e5e5 0%, #e1e1e1 16%, #d8d8d8 85%, #cacaca 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(16%,#e1e1e1), color-stop(85%,#d8d8d8), color-stop(100%,#cacaca)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e5e5e5 0%,#e1e1e1 16%,#d8d8d8 85%,#cacaca 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e5e5e5 0%,#e1e1e1 16%,#d8d8d8 85%,#cacaca 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e5e5e5 0%,#e1e1e1 16%,#d8d8d8 85%,#cacaca 100%); /* IE10+ */
	background: linear-gradient(top,  #e5e5e5 0%,#e1e1e1 16%,#d8d8d8 85%,#cacaca 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#cacaca',GradientType=0 ); /* IE6-9 */

}
.btn-wide{
	display: block;
	margin: 10px 0;
	padding: 15px;
	border-radius: 3px;
}
/*--- content home */
.page-resume .resume-content-home.ui-content{
	padding: 0px !important;
}
h1.title-job-rerume, ul.listview li.list-divider{
	font-size: 13px;
	font-family: "Roboto",Arial,Helvetica,sans-serif;
	font-weight: bold;
	color: #fff;
	text-shadow:1px 0px 1px #9f9f9f;
	background: #bbbbbb; /* Old browsers */
	background: -moz-linear-gradient(top,  #bbbbbb 0%, #325273 15%, #2a4560  85%, #263e57  100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbbbbb), color-stop(15%,#325273 ), color-stop(85%,#2a4560), color-stop(100%,#263e57)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #bbbbbb 0%,#325273 15%,#2a4560 85%,#263e57  100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #bbbbbb 0%,#325273 15%,#2a4560 85%,#263e57  100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #bbbbbb 0%,#325273 15%,#2a4560 85%,#263e57  100%); /* IE10+ */
	background: linear-gradient(to bottom,  #bbbbbb 0%,#325273 15%,#2a4560 85%,#263e57  100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbbbb', endColorstr='#263e57',GradientType=0 ); /* IE6-9 */

	padding: 10px 30px !important;
	margin: 0px;
	line-height: 11px;
}

.resume-content-home .ui-listview{	
	background: #fefefe;
}
.resume-content-home .ui-listview li{	
	border: none;
	padding: 10px 15px;
	border-bottom: 1px solid #efefef;
}
.resume-content-home .ui-listview li a.ui-link-inherit{
	padding-bottom: 0px;
}
.resume-content-home  .name{
	color: #4a4a4a;
	font-family:"Roboto",Arial,Helvetica,sans-serif;
	font-size: 19px;
	font-weight: 500;
}
.resume-content-home .arrow-right{
	top: 50%;
	margin-top: -5px;
}
.list-function .postions{
	font-size: 12px;
	color: #221f20;
	font-family: "Roboto",Arial,Helvetica,sans-serif;
	margin-right: 10px;
	float: left;
}
.list-function .type-job{	
	font-size: 12px;	
	font-family: "Roboto",Arial,Helvetica,sans-serif;
	margin-right: 10px;
	font-weight: bold;
	position: relative;
}	
.color-28{
	color: #ee8975;
}
.color-21{
	color: #a6c860;
}

.flags{
	width: 8px;
	height: 12px;
	background: url(../img/job-label.png) no-repeat;
	display: block;
	float: left;
	margin-right: 6px;
	margin-top: 4px;
}
/*.list-function .type-job.color-1{
	color: #222222;
}
.list-function .type-job.color-1 .flags{
	background-position: 0px -3px;	
	
}

.list-function .type-job.color-2{
	color: #fe2712;
}
.list-function .type-job.color-2 .flags{
	background-position: -8px -3px;	
	
}
.list-function .type-job.color-3{
	color: #fd5308;
}
.list-function .type-job.color-3 .flags{
	background-position: -16px -3px;
}
.list-function .type-job.color-4{
	color: #fb9902;
}
.list-function .type-job.color-4 .flags{
	background-position: -24px -3px;
}
.list-function .type-job.color-5{
	color: #f9bc02;
}
.list-function .type-job.color-5 .flags{
	background-position: -32px -3px;
}

.list-function .type-job.color-6{
	color: #fffe34;
}
.list-function .type-job.color-6 .flags{
	background-position: -40px -3px;
}
.list-function .type-job.color-7{
	color: #d1ea2c;
}
.list-function .type-job.color-7 .flags{
	background-position: -48px -3px;
}
.list-function .type-job.color-8{
	color: #66b033;
}
.list-function .type-job.color-8 .flags{
	background-position: -56px -3px;
}
.list-function .type-job.color-9{
	color: #0392ce;
}
.list-function .type-job.color-9 .flags{
	background-position: -64px -3px;
}
.list-function .type-job.color-10{
	color: #0247fe;
}
.list-function .type-job.color-10 .flags{
	background-position: -72px -3px;
}
.list-function .type-job.color-11{
	color: #3e01a4;
}
.list-function .type-job.color-11 .flags{
	background-position: -80px -3px;
}
.list-function .type-job.color-12{
	color: #8601b0;
}
.list-function .type-job.color-12 .flags{
	background-position: -88px -3px;
}
.list-function .type-job.color-13{
	color: #a7194b;
}
.list-function .type-job.color-13 .flags{
	background-position: -96px -3px;
}
.list-function .type-job.color-14{
	color: #444444;
}
.list-function .type-job.color-14 .flags{
	background-position: -104px -3px;
}
.list-function .type-job.color-15{
	color: #fe6759;
}
.list-function .type-job.color-15 .flags{
	background-position: -112px -3px;
}
.list-function .type-job.color-16{
	color: #fe8652;
}
.list-function .type-job.color-16 .flags{
	background-position: -120px -3px;
}
.list-function .type-job.color-17{
	color: #fcb74d;
}
.list-function .type-job.color-17 .flags{
	background-position: -128px -3px;
}
.list-function .type-job.color-18{
	color: #fbd04d;
}
.list-function .type-job.color-18 .flags{
	background-position: -136px -3px;
}
.list-function .type-job.color-19{
	color: #fffe71;
}
.list-function .type-job.color-19 .flags{
	background-position: -144px -3px;
}
.list-function .type-job.color-20{
	color: #dff06b;
}
.list-function .type-job.color-20 .flags{
	background-position: -152px -3px;
}
.list-function .type-job.color-21{
	color: #94c870;
}
.list-function .type-job.color-21 .flags{
	background-position: -160px -3px;
}
.list-function .type-job.color-22{
	color: #4eb2dd;
}
.list-function .type-job.color-22 .flags{
	background-position: -168px -3px;
}
.list-function .type-job.color-23{
	color: #4d7efe;
}
.list-function .type-job.color-23 .flags{
	background-position: -176px -3px;
}
.list-function .type-job.color-24{
	color: #784dbf;
}
.list-function .type-job.color-24 .flags{
	background-position: -184px -3px;
}
.list-function .type-job.color-25{
	color: #aa4dc8;
}
.list-function .type-job.color-25 .flags{
	background-position: -192px -3px;
}
.list-function .type-job.color-26{
	color: #c15e81;
}
.list-function .type-job.color-26 .flags{
	background-position: -200px -3px;
}
.list-function .type-job.color-27{
	color: #b0b0b0;
}
.list-function .type-job.color-27 .flags{
	background-position: -208px -3px;
}
.list-function .type-job.color-28{
	color: #ffa9a0;
}
.list-function .type-job.color-28 .flags{
	background-position: -216px -3px;
}
.list-function .type-job.color-29{
	color: #feba9c;
}
.list-function .type-job.color-29 .flags{
	background-position: -224px -3px;
}
.list-function .type-job.color-30{
	color: #fdd69a;
}
.list-function .type-job.color-30 .flags{
	background-position: -232px -3px;
}
.list-function .type-job.color-31{
	color: #fde49a;
}
.list-function .type-job.color-31 .flags{
	background-position: -240px -3px;
}
.list-function .type-job.color-32{
	color: #ffffae;
}
.list-function .type-job.color-32 .flags{
	background-position: -248px -3px;
}
.list-function .type-job.color-33{
	color: #edf7ab;
}
.list-function .type-job.color-33 .flags{
	background-position: -256px -3px;
}
.list-function .type-job.color-34{
	color: #c2dfad;
}
.list-function .type-job.color-34 .flags{
	background-position: -264px -3px;
}
.list-function .type-job.color-35{
	color: #9ad3eb;
}
.list-function .type-job.color-35 .flags{
	background-position: -272px -3px;
}
.list-function .type-job.color-36{
	color: #9ab5ff;
}
.list-function .type-job.color-36 .flags{
	background-position: -280px -3px;
}
.list-function .type-job.color-37{
	color: #b299db;
}
.list-function .type-job.color-37 .flags{
	background-position: -288px -3px;
}
.list-function .type-job.color-38{
	color: #cf99df;
}
.list-function .type-job.color-38 .flags{
	background-position: -296px -3px;
}
.list-function .type-job.color-39{
	color: #dca3b7;
}
.list-function .type-job.color-39 .flags{
	background-position: -304px -3px;
}
.list-function .type-job.color-40{
	color: #f0f0f0;
}
.list-function .type-job.color-40 .flags{
	background-position: -312px -3px;
} */


.list-function  .locations{
	color: #221f20;
}
.featured-job{
	margin-bottom: 0px !important;
}
.list-function .ui-link-inherit{
	padding: none !important;
}
.resume-content-home .ui-btn-icon-right{

}
.resume-content-home .btn-load-more {
	margin: 25px 10px;
}
/*-- menu search--*/
.menu-filter {
	position: absolute;
	z-index: 10;
	width: 100%;
	margin-left: 0px;
	display: none;
	margin-top: -4px;
}

.menu-filter-inner {
	margin: 0 10px;
	background: #fefefe;
	border: 1px solid #939393;
	border-radius: 0 5px 5px 5px;
	-moz-border-radius: 0 5px 5px 5px;
	-webkit-border-radius: 0 5px 5px 5px;
	box-shadow: 0 1px 5px #939393;
	-moz-box-shadow: 0 1px 5px #939393;
	-webkit-box-shadow: 0 1px 5px #939393;
	padding: 10px;
	position: relative;
	padding-bottom: 60px;
}
.menu-filter-inner .search{
	background: none;
}

.menu-filter-inner .icon-header {
	background: #fff;
	position: absolute;
	padding: 12px 8px 20px 12px;
	top: -50px;
	left: -1px;
	border-left: 1px solid #939393;
	border-top: 1px solid #939393;
	border-right: 1px solid #939393;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	font-size: 1.1em;
	color: #939393;
}

.menu-filter a {
	cursor: pointer;
}

.menu-filter .search {
	position: relative;
}

.menu-filter .search input {
	font-size: 0.9em;
	padding: 10px;
	color: #bbbbbb;
}

.menu-filter .search span.icon {
	position: absolute;
	right: 10px;
	top: 30px;
}

.menu-filter .tabs {
	float: left;
	margin-bottom: 10px;
}

.menu-filter .tabs .ui-tabs {
	border: 1px solid #d0d0d0;
	float: left;
	padding: 10px;
	color: #777777;
	font-weight: bold;

	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #ffffff 15%, #fcfcfc 85%, #f0f0f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(15%,#ffffff), color-stop(85%,#5a5a5a), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#ffffff 15%, #fcfcfc 85%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 0%,#ffffff 15%, #fcfcfc 85%,#f0f0f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#ffffff 15%, #fcfcfc 85%,#f0f0f0 100%); /* IE10+ */
	background: linear-gradient(top,  #fefefe 0%,#ffffff 15%, #fcfcfc 85%,#f0f0f0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
}

.menu-filter .tabs .ui-tabs:first-child {
	border-right: none;
}

.menu-filter .tabs .tab-active {
	background: #f0f0f0; /* Old browsers */
	background: -moz-linear-gradient(top,  #f0f0f0 0%, #fcfcfc 15%, #ffffff 85%, #fefefe 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(85%,#ffffff), color-stop(100%,#686868)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f0f0f0 0%,#fcfcfc 15%, #ffffff 85%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f0f0f0 0%,#fcfcfc 15%, #ffffff 85%,#fefefe 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f0f0f0 0%,#fcfcfc 15%, #ffffff 85%,#fefefe 100%); /* IE10+ */
	background: linear-gradient(top,  #f0f0f0 0%,#fcfcfc 15%, #ffffff 85%,#fefefe 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

	color: #b8b7b7;
}

.menu-filter .content-tabs {
	clear: left;
}

.menu-filter .content-tabs .tab-cont {
	/*display: none;*/
}

.menu-filter .content-tabs .tab-cont:first-child {
	display: block;
}

.menu-filter .list-categories, .menu-filter .list-categories {
	max-height: 240px;
	overflow: auto;
}

.menu-filter .content-tabs .ui-list {
	padding: 12px 15px;
	background: #f6f6f6;
	display: block;
	color: #969595;
	border-bottom: 1px solid #e9e9e9 !important;
	position: relative;
}

.menu-filter .content-tabs li li .ui-list {
	padding-left: 30px;
	color: #b3b3b3;
}

.menu-filter .content-tabs li li li .ui-list {
	padding-left: 45px;
}

.menu-filter .content-tabs .ui-list-main {
	font-weight: bold;
}

.menu-filter .content-tabs .ui-list:hover,
.menu-filter .content-tabs .ui-list-active {
	background: #feffbc;
	color: #747373;
}

.menu-filter .filter-search-btn {
	display: block;
	margin: 10px 0 0 0;
	font-weight: bold;
	float: none;
}

/*---resumes---*/
.btn_back{
	width: 50px;
	position: absolute;
	left: 0;
	margin-left: 20px !important;
}
.arrow-left{
	/*width: 8px;
	height: 40px;
	background: url(../img/icon.png) no-repeat -25px 0px;*/
	border-top: 18px solid rgba(0, 0, 0, 0);
	border-bottom: 19px solid rgba(0, 0, 0, 0);
	border-right: 6px solid #686868;
	display: block;	
	position: absolute;
	z-index: 999;
	top: 1px;
	left: -6px;
}
.ui-btn-s:hover .arrow-left {
	border-right: 6px solid #8A8A8A;
}
.resume-contentpage{
	padding: 0px !important;
	margin-bottom: 45px;
	overflow-x: visible !important;
}
.title-resume{
	padding: 20px 30px 20px 15px;
	position: relative;
	background: #fff;
	color: #221f20;
	font-family: "Roboto",Arial,Helvetica,sans-serif;
	font-size: 18px;
	font-weight: 500;
	border-bottom: 1px solid #e6e6e6;
}
.title-resume span.step-number{
	float:right;
	color:#8f8f8f;
}
.title-resume span.step-number strong{
	color: #4a4a4a;
}
.form-signup div.ui-input-text{
	overflow:hidden;
}
.form-signup .input-text-remind .ui-btn{
	background:#5bb8e9;
	color: #fff;
}
.form-signup .btn-custom-submit .ui-btn .ui-btn-text{
	color: #fff;
}
.form-signup .input-text-remind .ui-btn:hover{
	background-image: -moz-linear-gradient(bottom, #2989bc 0%, #2989bc 0.24%, #288dc1 14.99%, #7ECBF3 100%);
	background-image: -o-linear-gradient(bottom, #2989bc 0%, #2989bc 0.24%, #288dc1 14.99%, #7ECBF3 100%);
	background-image: -webkit-linear-gradient(bottom, #2989bc 0%, #2989bc 0.24%, #288dc1 14.99%, #7ECBF3 100%);
	background-image: linear-gradient(bottom, #2989bc 0%, #2989bc 0.24%, #288dc1 14.99%, #7ECBF3 100%);
}
.form-signup .ui-btn-inner span{
	font-size: 14px;
	font-weight: bold;
	text-shadow: none;
}
.form-signup div.ui-input-text input.ui-input-text, .form-signup textarea.ui-input-text{
	background-color: #fff;
	-moz-box-shadow: inset 0 1px 3px rgba(234,234,234,.58);
	-webkit-box-shadow: inset 0 1px 3px rgba(234,234,234,.58);
	box-shadow: inset 0 1px 3px rgba(234,234,234,.58);
}
.form-signup .content-info label{
	margin-bottom: 10px;
	display: block;
	font-weight: 600;
}
.form-signup .content-info .icon-location{
	position: absolute;
	z-index: 999;
	right: 30px;
	font-size: 18px;
	bottom: 45px;
}
.content-info span.icon-edit{
	position:absolute;
	right:15px;
	
}
.line-stand .icon-track{
	position: absolute;
	top: 62px;
	left: -35px;
	cursor:pointer;
}
{
	color: #8c8c8c;
	font-size: 15px;
	font-weight: 600;
}
.sub-content-text{
	display:block;
	color: #aeaeae;
	font-size: 15px;
}
.inset-shadow{

}
.infor-resume{
	padding: 20px;
	border-bottom: 1px solid #e6e6e6;
	min-height: 60px;
	position: relative;
}

.infor-resume .thumb-img{
	height: 50px;
	width: 50px;
	border-radius: 50px;
	overflow: hidden;
	float: left;
	margin-top: 10px;
	margin-left: 20px;

}
.infor-resume .intro-text{
	
	margin-left: 85px;
	margin-top: 12px;
}

.infor-resume a{
	text-decoration: none;
}
.infor-resume .intro-text h1{
	font-size: 17px;
	color: #488bb2;
	font-weight: bold;
}
.infor-resume .intro-text .positions{
	color: #949494;
	font-size: 15px;
	font-weight: bold;
}

.content-info a.list-link{
	padding: 20px 20px 20px 20px;
	position: relative;
	text-decoration: none;
	color: #221f20;
	font-size: 15px;
	font-weight: 500;
	display: block;
    font-family:"Roboto",Arial,Helvetica,sans-serif;	
}
.content-info a.list-link:hover{
	color: #979797;
	font-size: 15px;
	font-weight: normal;
}
.content-info, .content-field{
	position: relative;	
	color: #828282;
	border-bottom: 1px solid #e6e6e6;	
}

.content-info-last, .content-info:last-child{
	border: none;
}

.content-info  .icon-locations{
	width: 17px;
	height: 17px;
	background: url(../img/icon.png) no-repeat -8px 0px;
	display: block;
	float: left;	
	margin-right: 8px;
}
.date-select{
	overflow:hidden;
	margin-bottom:5px;
}
.date-select .ui-select{
	width:47% !important;
	float:left;
}
.date-select .ui-select:last-child{
	float:right !important;
}
.date-select .ui-select .ui-icon{
	background: url(../img/arrow-down.png) no-repeat center center;
	width:9px;
	height:5px;
	top:30px;
}
.date-select .ui-select .month, .date-select .ui-select .year{
	color: #777;
	font-size: 14px;
	text-shadow: -1px 0 0 #fff;
	font-weight:400;	
}
.date-select .ui-btn-text{
	text-align:left;
}
.ui-checkbox.signup .ui-btn-inner span{
	color: #7b7b7b;
	font-size: 15px;
	text-shadow: none;
	font-weight: 400;
}
.ui-checkbox.signup .ui-btn-inner{
	padding-left:35px;
}
.ui-checkbox.signup .ui-btn-inner span.ui-icon{
	left:0;
	z-index: 1;
	background:url(../img/check.png) no-repeat center center;
	width:20px;
	height:20px;
	background-position:-12px 0;
}
.ui-checkbox.signup .ui-btn-inner span.ui-icon.ui-icon-checkbox-on{
	background-position:-34px 0;
}
.ui-checkbox.signup .ui-checkbox input{
	left:5px;
	z-index:0;
}
.ui-checkbox.signup label{
	background: none;
	border: none;
	box-shadow: none;
}
.btn-signup-save{
	float:left;
}
.btn-signup-add{
	float:left;
}
.btn-signup-save .ui-btn-inner, .btn-signup-add .ui-btn-inner{
	padding:12px;
}
.btn-signup-save .ui-btn-inner .ui-btn-text, .btn-signup-add .ui-btn-inner .ui-btn-text{
	color: #727272;
	font-family: "Roboto",Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #fff;
	text-transform:uppercase;
}
.btn-signup-save .ui-btn{
	width: 68px;
	height: 40px;
	background-color:#e8e8e8  !important;
	background-image: -moz-linear-gradient(bottom, #d3d3d3 0%, #e0e0e0 14.99%, #e8e8e8 100%) !important;
	background-image: -o-linear-gradient(bottom, #d3d3d3 0%, #e0e0e0 14.99%, #e8e8e8 100%)  !important;
	background-image: -webkit-linear-gradient(bottom, #d3d3d3 0%, #e0e0e0 14.99%, #e8e8e8 100%)  !important;
	background-image: linear-gradient(bottom, #d3d3d3 0%, #e0e0e0 14.99%, #e8e8e8 100%)  !important;
	border:none !important;
}
.btn-signup-save .ui-btn:hover{
	background-image: -moz-linear-gradient(bottom, #d3d3d3 0%, #e0e0e0 14.99%, #f5f5f5 100%) !important;
	background-image: -o-linear-gradient(bottom, #d3d3d3 0%, #e0e0e0 14.99%, #f5f5f5 100%)  !important;
	background-image: -webkit-linear-gradient(bottom, #d3d3d3 0%, #e0e0e0 14.99%, #f5f5f5 100%)  !important;
	background-image: linear-gradient(bottom, #d3d3d3 0%, #e0e0e0 14.99%, #f5f5f5 100%)  !important;
}
.btn-signup-add .ui-btn{
	width: 185px;
	height: 38px;
	border: 1px solid #d1d1d1;
	background-color:#e8e8e8  !important;
	background-image: -moz-linear-gradient(bottom, #d3d3d3 0%, #e0e0e0 14.99%, #e8e8e8 100%) !important;
	background-image: -o-linear-gradient(bottom, #d3d3d3 0%, #e0e0e0 14.99%, #e8e8e8 100%)  !important;
	background-image: -webkit-linear-gradient(bottom, #d3d3d3 0%, #e0e0e0 14.99%, #e8e8e8 100%)  !important;
	background-image: linear-gradient(bottom, #d3d3d3 0%, #e0e0e0 14.99%, #e8e8e8 100%)  !important;
}
.select-option-signup{	 
	 padding:0;
	 margin:0;
}
.select-option-signup li{
	list-style-type:none !important;
	margin:0 !important;
}

#step-2 .icon-track {
	display: none;
}

.select-option-signup li .icon-track{
	margin-right:5px;
	cursor:pointer;
}
.select-option-signup li .text{
	color: #9f9f9f;
	font-weight:bold;
	font-size: 16px;
}
.date-select.option-signup .ui-select{
	width:100% !important;
	float:none;
}

.content-info .education, .content-info .experience {
	border-bottom: 1px solid #e6e6e6;
}
/*.content-info .arrow-right{
	top: 40%;
}*/

.icon-link-website{
	width: 17px;
	height: 17px;
	background: url(../img/icon.png) no-repeat -34px 0px;
	display: block;
	float: left;	
	margin-right: 8px;
}
.link-website {
	color: #979797;
	font-weight: 600;
	font-size: 15px;
}

.icon-flags{
	width: 13px;
	height: 17px;
	background: url(../img/icon.png) no-repeat -50px 0px;
	display: block;
	float: left;	
	margin-right: 12px;
	margin-top: 3px;
	margin-left: 2px;
}
.content-text{
	padding: 20px 20px 20px 20px;

}
#jobseeker_signup .content-text{
	padding: 20px 10px 20px 10px;

}
.content-text h1{
	color: #5a5a5a;
	font-size: 13px;
	font-family: "Roboto",Arial,Helvetica,sans-serif;
	font-weight: bold;
	margin-bottom: 10px;
}
.content-text p{
	color: #221f20;
	font-size: 16px;
	font-family: "Roboto",Arial,Helvetica,sans-serif;
	padding-bottom: 15px;
}
.content-text h1.line{
	border-bottom: 3px solid #d9d9d9;
	margin-bottom: -2px;
	text-transform: uppercase;
}

.content-text p strong{
	font-weight: bold;
}
.content-text li {
	line-height: 23px;
	margin-left: 19px;
	list-style-type: disc;
}

.line-stand:first-child{
	height: 50px;
}
.line-stand{
	border-left: 1px solid #d9d9d9;
	height: 65px;
	margin-left: 40px;	
	position: relative;
}
.dotted{
	width: 16px;
	height: 16px;
	border-radius: 16px;
	background: #d9d9d9;
	position: absolute;
	bottom: -15px;
	left: -9px;

}
.intro{
	position: absolute;
	bottom: -25px;
	left: 20px;
}
.intro .year{
	color: #c9c9c9;
	font-weight: bold;
	font-size: 15px;
	margin-bottom: -10px;
	display: block;
}
.intro .name{
	color: #909090;
	font-weight: bold;
	font-size: 16px;
}
.min-height-content{
	min-height: 185px;
}
.content-timeline{
	padding-bottom: 80px;
}
.content-timeline.skill-container{
	padding-bottom: 25px;
}
.skill p{
	color: #909090;
	font-size: 16px;
	font-weight: bold;
}
.skill h1.line{
	margin-bottom: 15px;
}
.btn_contact.ui-btn-corner-all{
	border-radius: 5px;
}

.edit-form-resume{
}
.edit-form-resume .ui-collapsible-content{
	padding:0;
}
.edit-form-resume .ui-collapsible-heading{
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
.edit-form-resume .ui-collapsible-heading .ui-btn{
	border-left:none;
	border-right:none;
	border-radius:0;
	-moz-border-radius:0;
	-webkit-border-radius:0;
}
.edit-form-resume.ui-collapsible-collapsed .ui-btn-icon-left>.ui-btn-inner>.ui-icon{
	background-position:0 0;
}
.edit-form-resume .ui-btn-icon-left>.ui-btn-inner>.ui-icon{
	background-position:  0px;
}
.edit-form-resume .ui-collapsible-heading-toggle .ui-btn-inner .ui-btn-text{
	color:#7b7b7b;
	text-shadow:none;
}
.edit-form-resume .ui-checkbox.signup .icon-track{
	position: absolute;
	right: -4px;
	top: 10px;
	z-index:9999;
}
a.btn_contact:hover{
	/*padding: 10px;*/
	background: #4FC1FD;
	background-image: -moz-linear-gradient(bottom, #2989bc 0%, #2989bc 0.24%, #288dc1 14.99%, #4FC1FD 100%);
	background-image: -o-linear-gradient(bottom, #2989bc 0%, #2989bc 0.24%, #288dc1 14.99%, #4FC1FD 100%);
	background-image: -webkit-linear-gradient(bottom, #2989bc 0%, #2989bc 0.24%, #288dc1 14.99%, #4FC1FD 100%);
	background-image: linear-gradient(bottom, #2989bc 0%, #2989bc 0.24%, #288dc1 14.99%, #4FC1FD 100%);
}
a.btn_contact{
	color: #fff !important;
	font-size: 13px;
	font-weight: bold;
	background: #5bb8e9;
	background-image: -moz-linear-gradient(bottom, #2989bc 0%, #2989bc 0.24%, #288dc1 14.99%, #47a0cf 100%);
	background-image: -o-linear-gradient(bottom, #2989bc 0%, #2989bc 0.24%, #288dc1 14.99%, #47a0cf 100%);
	background-image: -webkit-linear-gradient(bottom, #2989bc 0%, #2989bc 0.24%, #288dc1 14.99%, #47a0cf 100%);
	background-image: linear-gradient(bottom, #2989bc 0%, #2989bc 0.24%, #288dc1 14.99%, #47a0cf 100%);
	border: 0;
}
.fontsize14{
	font-size: 14px;
}
.btn_remind.ui-btn-corner-all{
	border-radius: 5px;
}
a.btn_remind, a.btn_remind:hover{
	color: #999999 !important;
	font-size: 13px;
	font-weight: bold;
	font-family: "Roboto",Arial,Helvetica,sans-serif;	
	/*padding: 10px;*/
	z-index: 99 !important;
	text-shadow:none;
}
.btn_remind{
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #f0f0f0 83%, #e0e0e0 100%, #ccdb8f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(83%,#f0f0f0), color-stop(100%,#e0e0e0), color-stop(100%,#ccdb8f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#f0f0f0 83%,#e0e0e0 100%,#ccdb8f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 0%,#f0f0f0 83%,#e0e0e0 100%,#ccdb8f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#f0f0f0 83%,#e0e0e0 100%,#ccdb8f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fefefe 0%,#f0f0f0 83%,#e0e0e0 100%,#ccdb8f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ccdb8f',GradientType=0 ); /* IE6-9 */
	border: 1px solid #d7d7d7;
}
.share-social{
	background: #fff;
	min-height: 200px;
	border-top: 1px solid #e6e6e6;
	margin-top: -45px;
	padding: 20px;
}
.share-social h1{
	font-size: 14px;
	font-weight: bold;
	color: #343434;
	font-family: "Roboto",Arial,Helvetica,sans-serif;
	padding-bottom: 10px;
}
.share-social li{
	padding: 10px 0px;
}
.share-social a{
	text-decoration: none;
	font-size: 14px;
	color: #f0111b !important;
	font-weight: bold;
	font-family: "Roboto",Arial,Helvetica,sans-serif;	
}
.share-social span{
	background: url(../img/icon.png) no-repeat -62px 0px;
}
.share-social .icon-tw{
	background-position: -62px 0px;
	width: 16px;
	height: 12px;
	display: block;
	float: left;
	margin-right: 10px;
}
.share-social .icon-fb{
	background-position: -62px -12px;
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	margin-right: 10px;
}
.share-social .icon-mail{
	background-position: -62px -30px;
	width: 16px;
	height: 16px;
	display: block;
	float: left;
	margin-right: 10px;
	margin-top: 5px;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
.modal{
	background: #fff;
	border-radius: 10px;
	border: 10px solid #585858;
	padding: 20px 10px;
	text-align: center;
}
.modal h3{
	color: #313131;
	font-size: 14px;
	font-family: "Roboto",Arial,Helvetica,sans-serif;
	font-weight: bold;
	padding-bottom: 10px;
}
.modal p{
	color: #626262;
	font-size: 14px;
	font-family: "Roboto",Arial,Helvetica,sans-serif;	
}
.modal  .input-text-remind{
	position: relative;
}
.modal  .input-text-remind input{
	color: #758096;
}
.modal  .input-text-remind .icon{
	top: 12px;
	right: 5px;
	position: absolute;
	color: #758096;
}


.btn-blue{
	background: #F0111B; /* Old browsers */
	background: -moz-linear-gradient(top,  #F0111B 0%, #F0111B 83%, #F0111B 83%, #F0111B 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F0111B), color-stop(83%,#3862b5), color-stop(83%,#3862b5), color-stop(100%,#2e55a4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #F0111B 0%,#F0111B 83%,#F0111B 83%,#F0111B 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #F0111B 0%,#F0111B 83%,#F0111B 83%,#F0111B 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #F0111B 0%,#F0111B 83%,#F0111B 83%,#F0111B 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #F0111B 0%,#F0111B 83%,#F0111B 83%,#F0111B 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F0111B', endColorstr='#F0111B',GradientType=0 ); /* IE6-9 */

	border: 1px solid #F0111B;
	box-shadow: none;
}
a.btn-blue{
	color: #fff !important;
}
.btn-blue:hover{
	background: #5a87e0; /* Old browsers */
	background: -moz-linear-gradient(top,  #5a87e0 0%, #3862b5 83%, #3862b5 83%, #2e55a4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a87e0), color-stop(83%,#3862b5), color-stop(83%,#3862b5), color-stop(100%,#2e55a4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5a87e0 0%,#3862b5 83%,#3862b5 83%,#2e55a4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5a87e0 0%,#3862b5 83%,#3862b5 83%,#2e55a4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5a87e0 0%,#3862b5 83%,#3862b5 83%,#2e55a4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5a87e0 0%,#3862b5 83%,#3862b5 83%,#2e55a4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a87e0', endColorstr='#2e55a4',GradientType=0 ); /* IE6-9 */

	border: 1px solid #446fc4;
	box-shadow: none;
}

.btn-white , .btn-white:hover {
	border: 1px solid #f0111b;
	-moz-box-shadow: 0 1px 1px #f0111b;
	-webkit-box-shadow: 0 1px 1px #f0111b;
	box-shadow: 0 1px 1px #f0111b;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwZTBlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTUlIiBzdG9wLWNvbG9yPSIjZjBmMGYwIiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSI4NSUiIHN0b3AtY29sb3I9IiNmYWZhZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZGZkZmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICA8L2xpbmVhckdyYWRpZW50PgoKPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCIgaGVpZ2h0PSIxMDAiIGZpbGw9InVybCgjaGF0MCkiIC8+Cjwvc3ZnPg==);
	background-image: -moz-linear-gradient(bottom, #f0111b 0%, #f0111b 15.21%, #f0111b 84.52%, #f0111b 100%);
	background-image: -o-linear-gradient(bottom, #f0111b 0%, #f0111b 15.21%, #f0111b 84.52%, #f0111b 100%);
	background-image: -webkit-linear-gradient(bottom, #f0111b 0%, #f0111b 15.21%, #f0111b 84.52%, #f0111b 100%);
	background-image: linear-gradient(bottom, #f0111b 0%, #f0111b 15.21%, #f0111b 84.52%, #f0111b 100%);
	 color: #999;
	font-family: "Roboto",Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 1px -1px 0 #f0111b;
}

.width90{
	width: 90%;
}
.ui-listview li, .ui-listview .ui-btn-hover-c{
	border-top: none;
	padding: none;
	border-left: none;
	border-right: none;
}

#simplemodal-overlay {
background-color: #000;
}

/** ORIGINAL STYLE **/
.post-content{
	padding: 0 !important;
}

.post-content img{
	width: 100% !important;
	height: auto;
}

.job-title {
	font-weight: bold;
}

.post-title{
	background: #ffffff ;
	border-bottom: 1px solid #e6e6e6;
}

.post-title-link, .post-title-right{
	position: absolute;
	right: 15px;
}

.post-title-link.ui-link,.post-title-link a.ui-link{
	color: #b9b9b9;
}

.post-title-right a, .post-title-right a.ui-link{
	font-weight: bold;
	color: #777 !important;
}

.inset-shadow{

}

.post-title, .content-info a.list-link{
	padding: 20px 30px 20px 15px;
	position: relative;
}

.content-info, .content-field{
	position: relative;
	background-color: white;
	color: #221f20;
	border-bottom: 1px solid #e6e6e6;
}

.content-info-last, .content-info:last-child{
	border: none;
}

.content-padding{
	padding: 20px 15px 20px 15px;
}

.content-field{
	font-size: 12px;
	padding: 20px 20px 5px 20px;
}

.company-info {
	background-color: #F7F7F7;
	/*height: 92px;*/
}

.company-info .company-thumb {
	float: left;
	padding: 12px 15px;
	position: relative;
	z-index: 100;
}

.company-info .company-thumb .thumb {
	background: #fff;
	padding: 8px;
	box-shadow: 0 4px 5px #e6e6e6;
	-moz-box-shadow: 0 4px 5px #e6e6e6;
	-webkit-box-shadow: 0 4px 5px #e6e6e6;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-box-shadow: 3px;
}

.company-info .company-thumb .thumb img {
	width: 72px;
	height: 50px;
}

.company-info .company-detail {
	margin-left: 0px;
}

.company-info .company-detail .content-info a.list-link {
	padding: 16px 30px 17px 15px;
	font-weight: bold;
}

.company-info .company-detail .content-info a.post-title-link {
	top: 16px;
	z-index: 5;
}

.company-info .company-detail .content-info {
	background: none;
}

.content-field .ui-input-text {
	width: 100%;
}

.content-field:after{
	content: "";
	display:block;
	clear:both;
}

input[type="text"], input[type="password"],
textarea{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #FFF;
	outline: none;
	margin-bottom: 10px;
	position: relative;
}

input:-webkit-autofill {
    color: #fff !important;
    background: #fff !important;
}

.f-padding{
	padding: 20px;
}

.resume-content-home ul.resume-listview li{
	padding: 5px 15px 5px 15px;
	min-height: 90px;
}

.resume-item a span.thumb-img > img{
	width: 50px;
	height: 50px;
}

.ui-title a{
	text-decoration: none;
}
.fix-middle{
	vertical-align: middle;
	display: table-cell;
	height: 70px;
}



/********Blog style*******/
.blog-date{
	font-size:12px;
	font-weight: 900;
}
.blog-date sup{
	vertical-align: super !important;
	font-size: smaller !important;
}
.blog-date span.blog-count-cmt{
	color:#dd6951;
}
.blog-date span.blog-count-cmt img{
	margin-right:3px;
}
.blog-content .blog-title{
	padding:0 20px;
	font-size:18px;
	color:#221f20;
	margin-bottom:15px;font-weight:500;font-family:"Roboto",Arial,Helvetica,sans-serif;
}
.blog-content .blog-text{
	padding: 0 20px;text-align:justify;
}
.blog-content .blog-text p{
	margin-bottom:10px;
	font-size:15px;
	color:#221f20;font-weight:500;font-family:"Roboto",Arial,Helvetica,sans-serif;
}
.blog-info-cmt{
	margin-top:20px;
	padding:20px;
	border-bottom:1px solid #e6e6e6;
	border-top:1px solid #e6e6e6;
}
.blog-info-cmt h2{
	font-size:18px;
	color:#333;
}
.blog-list-cmt{
	margin-top:20px;
}
.blog-list-cmt .detail-post .avatar{
	display: inline-block;
	background: #fff;
	padding: 5px;
	border: 1px solid #f1f1f1;
	width: 40px;
	height: 40px;
	text-align: center;
}
.blog-list-cmt .detail-post .avatar img{
	width:100%;
}
.blog-list-cmt .detail-post .name{
	display: inline-block;
	vertical-align:top;
	margin-left:20px;
	margin-top:3px;
}
.blog-list-cmt .detail-post .name p{
	font-size:14px;
	font-weight:900;
	margin-bottom:3px;
}
.blog-list-cmt .detail-post .name span{
	font-size:12px;
	color:#bbb;
}
.blog-list-cmt .text-cmt{
	margin-top:10px;
	color:#909090;
	padding-left: 75px;
}
.blog-list-cmt .text-cmt .comment-reply-link{
	color:#6a90ba;
	font-weight:900;
	text-decoration:none;
	font-size:14px;
	margin-top: 10px;
	display: block;
}
.blog-list-cmt ul li{
	margin-top:30px;
	padding:0 20px;
	border-bottom:1px solid #e6e6e6;
	padding-bottom: 30px;
}
.blog-list-cmt ul ul{
	margin-left: 55px;
}
.blog-list-cmt ul ul li{
	border-bottom:none;
	padding-bottom:0px;
}
#reply-title{
	padding: 20px;
	border-bottom: 1px solid #e6e6e6;
	border-top: none;
}
#reply-title {
	font-size: 18px;
	color: #333;
}

.comment-form {
	padding:20px;
}
.comment-form .form-item label{
	font-size:13px;
	color:#4d4d4d;
	font-weight:bold;
}
.comment-form .ui-btn {
	border: 1px solid #719131 !important;
	-moz-box-shadow: 0 1px 0 #d0d0d0 !important;
	-webkit-box-shadow: 0 1px 0 #d0d0d0 !important;
	box-shadow: 0 1px 0 #d0d0d0 !important;
	background-image: -moz-linear-gradient(bottom, #7ca627 0%, #8dba30 14.99%, #9fca46 100%) !important;
	background-image: -o-linear-gradient(bottom, #7ca627 0%, #8dba30 14.99%, #9fca46 100%) !important;
	background-image: -webkit-linear-gradient(bottom, #7ca627 0%, #8dba30 14.99%, #9fca46 100%) !important;
	background-image: linear-gradient(bottom, #7ca627 0%, #8dba30 14.99%, #9fca46 100%) !important;
	opacity:1;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-top:15px;
}
.comment-form .ui-btn-text{
	color: #fff !important;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 0 -1px 0 #6a8e1f  !important;
}
.list-blog ul li{
	border-bottom: 1px solid #e6e6e6;
	padding-bottom:20px;
}
.list-blog  ul li .blog-content a.blog-title{
	font-size:18px;
	color:#333;
	margin-bottom:15px;
	text-decoration:none;
	display:block;
	line-height: 20px;
	font-weight:400;
}
.list-blog  ul li .blog-content a.blog-title:hover{
	color:#6a90ba;
}
.list-blog .blog-content{
	padding-left: 0px;
}
.load-blog{
	padding:20px;
}
.load-blog .ui-btn{
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
.list-menu-footer{
	text-align:center;
}
.list-menu-footer select {
	width:180px;
	height:40px;
	color:#777;
	font-size:14px;
	text-shadow: -1px 0 0 #fff;
	padding: 3px 3px 3px 10px;
	margin: 0;
	outline: none;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	border: 1px solid #c8c8c8;
	-moz-box-shadow: 0 1px 1px #e3e3e3;
	-webkit-box-shadow: 0 1px 1px #e3e3e3;
	box-shadow: 0 1px 1px #e3e3e3;
	background-color: #e0e0e0;
	background-image: -moz-linear-gradient(bottom, #e0e0e0 0%, #f0f0f0 15.21%, #fafafa 84.52%, #fdfdfd 100%);
	background-image: -o-linear-gradient(bottom, #e0e0e0 0%, #f0f0f0 15.21%, #fafafa 84.52%, #fdfdfd 100%);
	background-image: -webkit-linear-gradient(bottom, #e0e0e0 0%, #f0f0f0 15.21%, #fafafa 84.52%, #fdfdfd 100%);
	background-image: linear-gradient(bottom, #e0e0e0 0%, #f0f0f0 15.21%, #fafafa 84.52%, #fdfdfd 100%);
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
}
.list-menu-footer label {
	position: relative
}
.list-menu-footer label:after {
	background: url(../img/arrow-down.png) no-repeat center center;
	right: 8px;
	top: 2px;
	padding: 0 0 2px;
	border-bottom: 1px solid #ddd;
	position: absolute;
	pointer-events: none;
}
.list-menu-footer label:before {
	content: '';
	right: 10px;
	top: -1px;
	width: 20px;
	height: 20px;
	position: absolute;
	pointer-events: none;
	display: block;
	background: url(../img/arrow-down.png) no-repeat center center;
}

#respond .ui-input-text {
	display: inline-block;
	width: 95%;
}
#respond .require{
	display: inline-block;
	vertical-align: middle;
}

#simplemodal-container {
	width: 320px !important;
	/*left: 0 !important;*/
}
.post-job-error {
	color: #E18972;
	padding: 10px;
	display: block;
	font-size: 14px;
	line-height: 20px;
	border-bottom: solid 1px #e9e9e9;
}

.post-job-new .page-title{
	color: #797b7f;
	font-size: 16px;
	padding: 10px 15px;
	border-bottom: solid 1px #e9e9e9;
}
.page-title .step-number {
	float: right;
}
.page-title .step-number strong {
	color: #333;
}
.post-job-form {
	background: #eceeed;
}
.post-new-job {
	padding: 20px 15px;
}
.post-job-form  .ui-btn-hidden,
.post-job-form .ui-submit,
.forgot-password .ui-submit{
	width: 100%;
}
.post-a-job .form-item-captcha{
	margin-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	border:0;
	margin-left: 170px;
}

.recaptcha-wrap a {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    text-indent: 10px;
}

.recaptcha-wrap .button {
    display: inline-block;
    margin-left: -2px;
    padding: 8px 23px 14px 4px;
    margin-bottom: 0;
    position: relative;
    top: -2px;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #F5F5F5;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#FFF),to(#E6E6E6));
    background-image: -webkit-linear-gradient(top,#FFF,#E6E6E6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#FFF,#E6E6E6);
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #BBB;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #E6E6E6 #E6E6E6 #BFBFBF;
    border-bottom-color: #A2A2A2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
}
#recaptcha_widget label {
    line-height: 20px;
}
.post-a-job  .captcha-item{
	padding-top: 0;
	padding-bottom: 0;
}


/*
captcha
*/
.form-item-captcha{
	margin-left: 0;
	padding-top: 0;
	padding-bottom: 0;
	border:0;
	margin-left: 0px;
}

.recaptcha-wrap a {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
    text-indent: 10px;
}

.recaptcha-wrap .button {
    display: inline-block;
    margin-left: -2px;
    padding: 8px 23px 14px 4px;
    margin-bottom: 0;
    position: relative;
    top: -2px;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #F5F5F5;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#FFF),to(#E6E6E6));
    background-image: -webkit-linear-gradient(top,#FFF,#E6E6E6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#FFF,#E6E6E6);
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #BBB;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-color: #E6E6E6 #E6E6E6 #BFBFBF;
    border-bottom-color: #A2A2A2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);
}
#recaptcha_widget label {
    line-height: 20px;
}
.post-a-job  .captcha-item{
	padding-top: 0;
	padding-bottom: 0;
}

.job-form .post-new-job span.subtitle, .register-form .post-new-job span.subtitle, .plan-job .post-new-job span.subtitle {
	color: #adafaf;
	display: block;
	font-size: 13px;
	text-shadow: none;
}
.register-form .post-new-job div.ui-input-text, .job-form div.ui-input-text, .job-form .post-new-job .ui-select .ui-btn, .job-form .post-new-job textarea {
	border: 1px solid #bbbfbb !important;
	background-color: #fff !important;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.04) !important;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.04) !important;
	box-shadow: 0 1px 2px rgba(0,0,0,.04) !important;
	border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
	overflow: hidden;
}
.authentication-form .post-new-job label, .job-form .post-new-job label, .plan-job .post-new-job label {
	text-shadow: none;
	line-height: 1.4;
	display: block;
}
.ui-content.plan-job{
	padding:0;
}
.plan-job .post-new-job .ui-radio label {
	border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
}
.ui-icon-checkbox-off, .ui-icon-radio-off{
	background-color: #ccc;
}

.plan-job .post-new-job .ui-radio label .ui-icon-radio-on{
	background-position: -720px 0px;
}
@media (min-width: 28em) {
	.plan-job label {
		width: 78%;
	}	
}
.menu-mobile-wrapper{
	position:absolute;
	top: 45px !important;
	right: 8px;
	width:305px;
	display:block;
	z-index: 9999;
	border: 1px solid #c6c6c6;
	border-top:none;
	border-right:none;
	-moz-border-radius: 5px 0 5px 5px;
	-webkit-border-radius: 5px 0 5px 5px;
	border-radius: 5px 0 5px 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #fff;
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,.08);
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.08);
	box-shadow: 0 2px 2px rgba(0,0,0,.08);
	background-image: -moz-linear-gradient(bottom, #fdfdfd 0%, #fdfdfd 100%);
	background-image: -o-linear-gradient(bottom, #fdfdfd 0%, #fdfdfd 100%);
	background-image: -webkit-linear-gradient(bottom, #fdfdfd 0%, #fdfdfd 100%);
	background-image: linear-gradient(bottom, #fdfdfd 0%, #fdfdfd 100%);
	display:none;
}
.menu-mobile-wrapper li{
	padding:15px 25px;
	border-bottom:1px solid #dadada;
}
.menu-mobile-wrapper li:last-child{
	border:none;
}
.menu-mobile-wrapper li a.ui-link{
	color: #737373 !important;
	position:relative;
	text-decoration:none;
	font-size: 14px;
	text-shadow: 0 1px 0 #fdfdfd;	
	font-weight:normal;
	display:block;
}
.menu-mobile-wrapper li a.ui-link:hover{
	color: #737373 !important;
	font-weight:normal;
}
.menu-mobile-wrapper li a.ui-link span.arrow-right{
	float:right;
	right:0;
}
.click-menu-mobile.bg-white{
	background:#fff !important;
	color:#7b7b7b;
	-moz-border-radius: 3px 3px 3px 0;
	-webkit-border-radius: 3px 3px 3px 0;
	border-radius: 3px 3px 3px 0;
	box-shadow:none !important;
}
.ui-content.plan-job .ui-icon-radio-off {
	background-position: -757px -1px !important;
}

.redirect-content {
	line-height: 22px;
}

#jobseeker_message .form-item {
	margin-left: 20px;
}

#recaptcha_widget {
	width: 300px;
	margin-left: 10px;
}
#modal_apply #recaptcha_widget {
	width: 290px;
	margin-left: -5px;
	max-width: 98%;
}
#recaptcha_widget .input-recaptcha {
	width: 300px !important;
}

#recaptcha_challenge_image, #recaptcha_image {
	max-width: 98%;
}
div.top-sidebar{
	padding: 10px;
	margin-top: 10px;
}
/*chuyen ve them tag*/
.tag_smartjob_home{
    border: 1px solid #7b7b7b;
    border-radius: 6px;
    color: #f0111b!important;
    margin-right: 3px;
    padding: 0 7px;
	font-weight:500!important;text-decoration:none;
}
.copyright_foot_mobile a{text-decoration:none;color:#221f20;font-weight:600!important;}
.copyright_foot_mobile{color:#221f20!important}
.img_mobile_cate{max-width:100%;border-radius:9px;padding:3px;border:1px solid #e9e9e9!important;}
.continue{    width: 120px;padding: 9px 10px;background-color: #F0111B;border-radius: 5px;margin-left: 18px;font-weight: 300;}
.page-numbers{ padding: 9px;font-weight:300;background-color: #f0111b;margin: 2px;text-decoration: none;color: white!important;}
.current{color: #221f20!important;}
.like_share_cate{margin-left:19px;padding-top:21px}
.popular_job{    float: left;padding: 8px 13px;margin: 5px 6px;background-color:#F0111B}
.popular_job a{text-decoration:none;color: white!important;}
.more_title_mobile_content{text-align: justify;padding-bottom: 9px;padding-left:9px}
.more_title_mobile{text-decoration:none;font-size:19px;}