body{
	font-family: "Roboto",Arial,Helvetica,sans-serif ;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6{
	line-height: 20px;
}

p{
	line-height: 20px;
}

/*** some constant ***/
.ui-btn-s {
	display: inline-block;
	font-weight: bold !important;
	font-size: 13px;
	text-decoration: none;
	line-height: ;
	padding: 9px 10px 11px 10px;
	height: 14px;
	border-radius: 3px;	
	text-align: center;
}

.ui-btn-s {
	color: #ffffff;
	-webkit-text-shadow: 0px -1px 0px #6a8e1f;
	-moz-text-shadow: 0px -1px 0px #6a8e1f;
	text-shadow: 0px -1px 0px #3b3b3b;
	box-shadow: 0px 1px 2px #3b3b3b;
	-moz-box-shadow: 0px 1px 2px #3b3b3b;
	-webkit-box-shadow: 0px 1px 2px #3b3b3b;
	background: #686868; /* Old browsers */
	background: -moz-linear-gradient(top,  #686868 0%, #5a5a5a 85%, #4d4d4d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#686868), color-stop(85%,#5a5a5a), color-stop(100%,#4d4d4d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #686868 0%,#5a5a5a 85%,#4d4d4d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #686868 0%,#5a5a5a 85%,#4d4d4d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #686868 0%,#5a5a5a 85%,#4d4d4d 100%); /* IE10+ */
	background: linear-gradient(top,  #686868 0%,#5a5a5a 85%,#4d4d4d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686868', endColorstr='#4d4d4d',GradientType=0 ); /* IE6-9 */
}

.ui-btn-s:hover{
	background: #8a8a8a; /* Old browsers */
	background: -moz-linear-gradient(top,  #8a8a8a 0%, #5a5a5a 85%, #4d4d4d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8a8a8a), color-stop(85%,#5a5a5a), color-stop(100%,#4d4d4d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8a8a8a 0%,#5a5a5a 85%,#4d4d4d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8a8a8a 0%,#5a5a5a 85%,#4d4d4d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8a8a8a 0%,#5a5a5a 85%,#4d4d4d 100%); /* IE10+ */
	background: linear-gradient(top,  #8a8a8a 0%,#5a5a5a 85%,#4d4d4d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a8a8a', endColorstr='#4d4d4d',GradientType=0 ); /* IE6-9 */
}

.icon:before{
	content: attr(data-icon);
	font-family: "Pictos";
	line-height: 0px;
	margin-right: 5px;
	font-weight: normal;
}

.btn-wide{
	display: block;
	margin: 10px 0;
	padding: 15px;
}

.btn-grey, .ui-select .ui-btn{
	color: #777777 !important;
	text-shadow: 0 -1px 0 #efefef !important;
	-moz-text-shadow: 0 -1px 0 #efefef  !important;
	-webkit-text-shadow: 0 -1px 0 #efefef  !important;
	-webkit-box-shadow: 1px 0 1px 0 #e3e3e3;
	-moz-box-shadow: 1px 0 1px 0 #e3e3e3;
	box-shadow: 1px 0 1px 0 #e3e3e3;
	border: 1px solid #bababa;
	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #fafafa 16%, #f0f0f0 85%, #e0e0e0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(16%,#fafafa), color-stop(85%,#f0f0f0), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#fafafa 16%,#f0f0f0 85%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 0%,#fafafa 16%,#f0f0f0 85%,#e0e0e0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#fafafa 16%,#f0f0f0 85%,#e0e0e0 100%); /* IE10+ */
	background: linear-gradient(top,  #fefefe 0%,#fafafa 16%,#f0f0f0 85%,#e0e0e0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e0e0e0',GradientType=0 ); /* IE6-9 */

	text-align: center; 
}

.btn-grey:hover, .ui-select .ui-btn:hover{
	-webkit-box-shadow: 1px 0 1px 0 #e3e3e3;
	-moz-box-shadow: 1px 0 1px 0 #e3e3e3;
	box-shadow: 1px 0 1px 0 #e3e3e3;

	background: #e5e5e5; /* Old browsers */
	background: -moz-linear-gradient(top,  #e5e5e5 0%, #e1e1e1 16%, #d8d8d8 85%, #cacaca 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(16%,#e1e1e1), color-stop(85%,#d8d8d8), color-stop(100%,#cacaca)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e5e5e5 0%,#e1e1e1 16%,#d8d8d8 85%,#cacaca 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e5e5e5 0%,#e1e1e1 16%,#d8d8d8 85%,#cacaca 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e5e5e5 0%,#e1e1e1 16%,#d8d8d8 85%,#cacaca 100%); /* IE10+ */
	background: linear-gradient(top,  #e5e5e5 0%,#e1e1e1 16%,#d8d8d8 85%,#cacaca 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#cacaca',GradientType=0 ); /* IE6-9 */

}

.btn-black {
	background: #303030;
	box-shadow: 0 0 5px #999;
	-moz-box-shadow: 0 0 5px #999;
	-webkit-box-shadow: 0 0 5px #999;
}

.btn-blue{
	border: 1px solid #2a4f9a;
	background: #5a87e0; /* Old browsers */
	background: -moz-linear-gradient(top,  #5a87e0 0%, #4c79d3 15%, #3862b5 85%, #2e55a4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a87e0), color-stop(15%,#4c79d3), color-stop(85%,#3862b5), color-stop(100%,#2e55a4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5a87e0 0%,#4c79d3 15%,#3862b5 85%,#2e55a4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5a87e0 0%,#4c79d3 15%,#3862b5 85%,#2e55a4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5a87e0 0%,#4c79d3 15%,#3862b5 85%,#2e55a4 100%); /* IE10+ */
	background: linear-gradient(top,  #5a87e0 0%,#4c79d3 15%,#3862b5 85%,#2e55a4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a87e0', endColorstr='#2e55a4',GradientType=0 ); /* IE6-9 */

	color: #fff !important;
}
.btn-blue:hover {
	background: #3f73db; /* Old browsers */
	background: -moz-linear-gradient(top,  #3f73db 0%, #3769cd 15%, #3358a3 85%, #2a4d94 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f73db), color-stop(15%,#3769cd), color-stop(85%,#3358a3), color-stop(100%,#2a4d94)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3f73db 0%,#3769cd 15%,#3358a3 85%,#2a4d94 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3f73db 0%,#3769cd 15%,#3358a3 85%,#2a4d94 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3f73db 0%,#3769cd 15%,#3358a3 85%,#2a4d94 100%); /* IE10+ */
	background: linear-gradient(top,  #3f73db 0%,#3769cd 15%,#3358a3 85%,#2a4d94 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f73db', endColorstr='#2a4d94',GradientType=0 ); /* IE6-9 */

}

.input-text {
	background: #ffffff;
	box-shadow: 0 1px 0px  #eaeaea inset;
	-moz-box-shadow: 0 1px 0px  #eaeaea inset;
	-webkit-box-shadow: 0 1px 0px  #eaeaea inset;
	margin-bottom: 10px;
	position: relative;
}

.input-text input[type="text"],
.input-text input[type="password"] {
	border: 1px solid #cccccc;
	padding: 8px;
}

.input-text .icon{
	position: absolute;
	right: 10px;
	top: 10px;
}

.input-text .ui-input-text{
	background: transparent;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border: none;
	padding: 0;
}

.ui-select .ui-btn {
	margin: 0;
	display: block;
}

.ui-select .ui-btn-text {
	text-align: left;
}

.ui-select .ui-btn-inner {
	border-top: none;
}

.ui-select .ui-btn-icon-right .ui-btn-inner {
	padding: 0 25px 0 0;
}

.ui-select .ui-btn-icon-right .ui-icon {
	right: 0px;
}

.input-button .ui-btn{
	display: block;
	margin: 0;
	padding: 15px;
}

.input-button .ui-btn > span{
	padding: 0;
	border-top: none;
}

/*** header bar ***/
.ui-header{
	background: #4f4f4f; /* Old browsers */
	background: -moz-linear-gradient(top,  #4f4f4f 0%, #424242 85%, #363636 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4f4f4f), color-stop(85%,#424242), color-stop(100%,#363636)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4f4f4f 0%, #424242 85%,#363636 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4f4f4f 0%, #424242 85%,#363636 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4f4f4f 0%, #424242 85%,#363636 100%); /* IE10+ */
	background: linear-gradient(top,  #4f4f4f 0%, #424242 85%,#363636 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#363636',GradientType=0 ); /* IE6-9 */
	height: 30px;
	padding: 10px 0;
	position: relative;
}

/*button in header **/
.ui-header .ui-btn{
	background: #638917; /* Old browsers */
	background: -moz-linear-gradient(top,  #638917 0%, #4e6b11 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#638917), color-stop(100%,#4e6b11)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #638917 0%,#4e6b11 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #638917 0%,#4e6b11 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #638917 0%,#4e6b11 100%); /* IE10+ */
	background: linear-gradient(top,  #638917 0%,#4e6b11 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#638917', endColorstr='#4e6b11',GradientType=0 ); /* IE6-9 */
	color: #eaffc0;
	-webkit-box-shadow: 1px 1px 1px #4d6d0a inset;
	-moz-box-shadow: 1px 1px 1px #4d6d0a inset;
	box-shadow: 1px 1px 1px #4d6d0a inset;
	text-shadow: 1px 1px 1px #4d6d0a;
	-moz-text-shadow: 1px 1px 1px #4d6d0a;
	-webkit-text-shadow: 1px 1px 1px #4d6d0a;
	border: none;
	line-height: 10px;
	height: 10px;
}

.ui-header .ui-btn:hover,.ui-header .ui-btn-activated{
	background: #577814; /* Old browsers */
	background: -moz-linear-gradient(top,  #577814 0%, #445d0f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#577814), color-stop(100%,#445d0f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #577814 0%,#445d0f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #577814 0%,#445d0f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #577814 0%,#445d0f 100%); /* IE10+ */
	background: linear-gradient(top,  #577814 0%,#445d0f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#577814', endColorstr='#445d0f',GradientType=0 ); /* IE6-9 */

}

.ui-header .ui-btn{
	top: 0.5em;
}

.ui-header .icon:before{
	margin: 0;
}

.ui-header-left{
	position: absolute;
	top: 0.5em;
	left: 10px;
}

.ui-header-right{
	position: absolute;
	top: 0.5em;
	right: 10px;
}

.ui-header-right .ui-btn:first-child{
	border-radius: 3px 0 0 3px;
	margin: 0 -5px 0 0;
}

.ui-header-right .ui-btn:last-child{
	border-radius: 0 3px 3px 0;
	border-right: none !important;
}

.ui-header-right .ui-btn{
	border-right: 1px solid #506e11;
}

.ui-header-left .ui-btn,
.ui-header-right .ui-btn{
	top: 0;
}

.ui-content {
	padding: 10px !important;
	background: #ededed;
}

.ui-home {
	padding-top: 0px !important;
	margin-top: -10px;
}

.ui-content > .ui-btn{
	margin: 10px 0;
}

.mblDomButtonGrayArrow, .mblDomButtonArrow {
	height: 29px;
	width: 20px;
}

.mblDomButtonGrayArrow > div, .mblDomButtonArrow > div {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
  	-moz-transform: rotate(45deg);
	border-color: #808080;
	border-style: solid;
	border-width: 3px 3px 0 0;
	font-size: 1px;
	height: 6px;
	left: 6px;
	position: absolute;
	top: 3px;
	width: 6px;
}

.ui-link, .ui-body-c .ui-link{
	font-weight: normal;
	text-decoration: none;
}

/*** contruction body mobile page ***/
.header-bar .ui-btn-s {
	top: 8px !important;
}

.header-bar .ui-title {
	margin-top: 0.4em;
}

.btn-blue {
	color: #fff;
	text-decoration: none;
}

.search-area {
	background: #303030;
	margin: -10px 0 0 0;
	padding: 10px;
}

.menu-filter {
	position: absolute;
	z-index: 10;
	width: 100%;
	margin-left: -10px;
	display: none;
}

.menu-filter-inner {
	margin: 0 10px;
	background: #fefefe;
	border: 1px solid #939393;
	border-radius: 0 5px 5px 5px;
	-moz-border-radius: 0 5px 5px 5px;
	-webkit-border-radius: 0 5px 5px 5px;
	box-shadow: 0 1px 5px #939393;
	-moz-box-shadow: 0 1px 5px #939393;
	-webkit-box-shadow: 0 1px 5px #939393;
	padding: 10px;
	position: relative;
}

.menu-filter-inner .icon-header {
	background: #fff;
	position: absolute;
	padding: 12px 8px 20px 12px;
	top: -48px;
	left: -1px;
	border-left: 1px solid #939393;
	border-top: 1px solid #939393;
	border-right: 1px solid #939393;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	font-size: 1.1em;
	color: #939393;
}

.menu-filter a {
	cursor: pointer;
}

.menu-filter .search {
	position: relative;
}

.menu-filter .search input {
	font-size: 0.9em;
	padding: 10px;
	color: #bbbbbb;
}

.menu-filter .search span.icon {
	position: absolute;
	right: 10px;
	top: 12px;
}

.menu-filter .tabs {
	float: left;
	margin-bottom: 10px;
}

.menu-filter .tabs .ui-tabs {
	border: 1px solid #d0d0d0;
	float: left;
	padding: 10px;
	color: #777777;
	font-weight: bold;

	background: #fefefe; /* Old browsers */
	background: -moz-linear-gradient(top,  #fefefe 0%, #ffffff 15%, #fcfcfc 85%, #f0f0f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(15%,#ffffff), color-stop(85%,#5a5a5a), color-stop(100%,#f0f0f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#ffffff 15%, #fcfcfc 85%,#f0f0f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 0%,#ffffff 15%, #fcfcfc 85%,#f0f0f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#ffffff 15%, #fcfcfc 85%,#f0f0f0 100%); /* IE10+ */
	background: linear-gradient(top,  #fefefe 0%,#ffffff 15%, #fcfcfc 85%,#f0f0f0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
}

.menu-filter .tabs .ui-tabs:first-child {
	border-right: none;
}

.menu-filter .tabs .tab-active {
	background: #f0f0f0; /* Old browsers */
	background: -moz-linear-gradient(top,  #f0f0f0 0%, #fcfcfc 15%, #ffffff 85%, #fefefe 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(85%,#ffffff), color-stop(100%,#686868)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f0f0f0 0%,#fcfcfc 15%, #ffffff 85%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f0f0f0 0%,#fcfcfc 15%, #ffffff 85%,#fefefe 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f0f0f0 0%,#fcfcfc 15%, #ffffff 85%,#fefefe 100%); /* IE10+ */
	background: linear-gradient(top,  #f0f0f0 0%,#fcfcfc 15%, #ffffff 85%,#fefefe 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */

	color: #b8b7b7;
}

.menu-filter .content-tabs {
	clear: left;
}

.menu-filter .content-tabs .tab-cont {
	display: none;
}

.menu-filter .content-tabs .tab-cont:first-child {
	display: block;
}

.menu-filter .list-categories {
	max-height: 391px;
	overflow: auto;
}

.menu-filter .content-tabs .ui-list {
	padding: 12px 15px;
	background: #f6f6f6;
	display: block;
	color: #969595;
	border-bottom: 1px solid #e9e9e9;
	position: relative;
}

.menu-filter .content-tabs li li .ui-list {
	padding-left: 30px;
	color: #b3b3b3;
}

.menu-filter .content-tabs li li li .ui-list {
	padding-left: 45px;
}

.menu-filter .content-tabs .ui-list-main {
	font-weight: bold;
}

.menu-filter .content-tabs .ui-list:hover,
.menu-filter .content-tabs .ui-list-active {
	background: #feffbc;
	color: #747373;
}

.menu-filter .filter-search-btn {
	display: block;
	margin-top: 10px;
	font-weight: bold;
	padding-top: 12px;
}

.content-info .list-link .flag,
.list-item .list-subtitle .flag,
.menu-filter .contact-type .flag {
    background-image: url("../images/job-label.png");
    display: block;
    height: 15px;
    overflow: hidden;
    width: 8px;
}

.content-info .list-link .flag,
.list-item .list-subtitle .flag {
	display: inline-block;
	margin: 0 5px -3px 0;
}

.menu-filter .contact-type .icon-label {
	position: absolute;
	right: 10px;
	top: 12px;
}

.menu-filter .contact-type .ui-list {
	font-weight: bold;
}

/****************************/
.search{
	/*margin: 0 0 10px 0;*/
}

.search .ui-btn-s {
	margin: 0px;
	float: left;
	padding: 12px 8px 10px 12px;
	font-size: 1.1em;
}

.search-text{
	margin-left: 50px;
	position: relative;
}

.search-text input{
	width: 100%;
	font-weight: bold;
}

.search-text span.icon { 
	position: absolute;
	top: 10px;
	right: 5px;
}
/**********LIST VIEW*********/
.listview {
	font-size: 13px;
	box-shadow: 2px 2px 2px #cccccc;
	-moz-box-shadow: 2px 2px 2px #cccccc;
	-webkit-box-shadow: 2px 2px 2px #cccccc;
}

.ui-home .listview { margin: 0 -10px; }

.ui-home .listview .no-result { padding: 15px 10px; }

.list-divider{
	padding: 10px;
	background: #cacaca; /* Old browsers */
	background: -moz-linear-gradient(top,  #cacaca 0%, #d5d5d5 15%, #c1c1c1 85%, #b4b4b4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cacaca), color-stop(15%,#d5d5d5), color-stop(85%,#c1c1c1), color-stop(100%,#b4b4b4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cacaca 0%,#d5d5d5 15%,#c1c1c1 85%,#b4b4b4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cacaca 0%,#d5d5d5 15%,#c1c1c1 85%,#b4b4b4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cacaca 0%,#d5d5d5 15%,#c1c1c1 85%,#b4b4b4 100%); /* IE10+ */
	background: linear-gradient(top,  #cacaca 0%,#d5d5d5 15%,#c1c1c1 85%,#b4b4b4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cacaca', endColorstr='#b4b4b4',GradientType=0 ); /* IE6-9 */
	color: #ffffff;
	-webkit-text-shadow: 1px 1px 1px #9f9f9f;
	-moz-text-shadow: 1px 1px 1px #9f9f9f;
	text-shadow: 1px 1px 1px #9f9f9f;
	font-weight: bold;
}

.list-item{
	background: #ffffff;
	position: relative;
	border-bottom: 1px solid #efefef;
}

.list-item:hover{
	background: #F4F4F4;
}

.list-item a{
	display: block;
	padding: 15px !important;
	text-decoration: none;
}

.list-item .list-title{
	font-size: 15px;
	font-weight: bold;
	line-height: 20px;
	color: #4a4a4a;
}

.list-item .list-subtitle{
	
}

.list-item .list-subtitle span{
	font-family: "Roboto",Arial,Helvetica,sans-serif;
	line-height: 18px;
	margin-right: 10px;
	font-size: 13px;
	display: inline-block;
	max-width: 30%;
}

.job-employer{
	color: #606060 !important;
}

.job-title{
	font-weight: bold;
}

.job-fulltime{
	color: #ee8975;
}

.job-freelance{
	color: #a6c860;
}

.job-loc{
	color: #c2c2c2 !important;
	font-weight: normal;
}

.list-item .arrow, .arrow {
	position: absolute;
	right: 10px;
	top: 35%;
}

.post-content{
	padding: 0 !important;
}

.list-link{
	display: block;
	text-decoration: none;
	color: #606060;
}

.post-title, .content-info a.list-link{
	padding: 20px 30px 20px 15px;
	position: relative;
}

.content-info, .content-field{
	position: relative;
	background-color: #f7f7f7;
	color: #828282;
	border-bottom: 1px solid #e6e6e6;
}

.content-info-last, .content-info:last-child{
	border: none;
}

.content-padding{
	padding: 20px 15px 20px 15px;
}

.content-field{
	font-size: 12px;
	padding: 20px 20px 5px 20px;
}

.company-info {
	background-color: #F7F7F7;
	height: 92px;
}

.company-info .company-thumb {
	float: left;
	margin: 12px 15px;
}

.company-info .company-thumb .thumb {
	background: #fff;
	padding: 8px;
	box-shadow: 0 4px 5px #e6e6e6;
	-moz-box-shadow: 0 4px 5px #e6e6e6;
	-webkit-box-shadow: 0 4px 5px #e6e6e6;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-box-shadow: 3px;
}

.company-info .company-thumb .thumb img {
	width: 72px;
	height: 50px;
}

.company-info .company-detail {
	margin-left: 120px;
}

.company-info .company-detail .content-info a.list-link {
	padding: 16px 30px 17px 15px;
	font-weight: bold;
}

.company-info .company-detail .content-info a.post-title-link {
	top: 16px;
	z-index: 5;
}

.company-info .company-detail .content-info {
	background: none;
}

.post-title{
	background: #ffffff ;
	border-bottom: 1px solid #e6e6e6;
}

.post-title-link, .post-title-right{
	position: absolute;
	right: 15px;
}

.post-title-link.ui-link,.post-title-link a.ui-link{
	color: #b9b9b9;
}

.post-title-right a, .post-title-right a.ui-link{
	font-weight: bold;
	color: #777 !important;
}

.inset-shadow{
	box-shadow: 0 4px 5px #e6e6e6 inset;
	-moz-box-shadow: 0 4px 5px #e6e6e6 inset;
	-webkit-box-shadow: 0 4px 5px #e6e6e6 inset;
}
.content-info .arrow{
	top: 37%;
}
.content-info h3,.content-field h3{
	text-transform: uppercase;
	color: #777;
	font-weight: bold;
	line-height: 20px;
	margin: 10px 0;	
}

.content-field h3{
	color: #484848;
}

.content-info p, .content p{
	margin: 10px 0;
	font-size: 14px;
	line-height: 18px;
}

.content-info ul, .content-info ol {
	list-style: disc;
	margin-left: 15px;
}

.content-info ul li, .content-info ol li {
	margin: 5px 0;
}

.content-field p{
	margin: 0 0 5px 0;
	font-size: 12px;
	line-height: 18px;
}

.f-padding{
	padding: 20px;
}

.content-field .ui-input-text{
	width: 100%;
}

.content-field .content-options{
	margin: 0 -20px;
}

.content-options > ul{
	list-style: none;
	list-style-image: none;
	list-style-position: outside;
}

.content-options > ul > li{
	display: table;
	background-color: #ffffff;
	border-bottom: 1px solid #e3e3e3;
	width: 100%;
}

.content-options > ul > li > .checkbox{
	display: table-cell;
	width: 30px;
	vertical-align: middle;
	padding: 20px 10px;
	text-align: center;
}

.content-options > ul > li > .option-desc{
	display: table-cell;
	vertical-align: middle;
	padding: 20px 10px 20px 0;
}

.opts-small > ul > li > .checkbox,
.opts-small > ul > li > .option-desc{
	padding-top: 10px;
	padding-bottom: 10px;
}

.option-desc {
	color: #8f8f8f;
	font-size: 13px;
}

.option-desc h4{
	color: #547d00;
	font-weight: bold;
	font-size: 14px;
}

.option-desc p{
	margin: 5px 0 0 0;
}

.content-options > ul > li:hover{
	background: #fffbe4;
	border-bottom: 1px solid #edde8c;
}

.content-options > ul > li.checked{
	background: #fff6c2;
	border-bottom: 1px solid #edde8c;
}

li.checked > .option-desc > h4{
	color: #92811e;
}

.content-tabs{
	border-top: 1px solid #e6e6e6;
	background: #ffffff;
}

.content-tabs > .tabs > li{
	float: left;
	display: block;
}

.content-tabs > .tabs > li > a{
	display: block;
	padding: 20px 15px;
	font-weight: bold !important;
	color: #999999;
	border-left: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	background: #ffffff;
}

.content-tabs > .tabs > li:first-child > a{
	border-left: none;
}

.content-tabs > .tabs > li.activated a{
	color: #343434;
	border-bottom: 0px none;
}

.tabs-two > .tabs > li {
	width: 50%;
}

.tabcontent-wrapper{
	clear: both;
}

.icon-social{
	padding-left: 25px;
	background: url('../images/icon-social.png') no-repeat 0 0 transparent;
	line-height: 20px;
}

.icon-twitter{
	background-position: 0 0;
}

.icon-facebook{
	background-position: 0 -16px;
}

#share .list-item a {
	font-size: 14px;
	color: #80ad23;
	font-weight: bold;
}

#share .listview{
	margin: 0px;
}

#share > .listview  .icon:before{
	margin-right: 12px;
}

.remind-popup {
	background-color: #ffffff;
	text-align: center;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	color: #626262;	
	padding: 20px;
	margin: 20px;
}

.remind-popup h3{
	font-weight: bold;
	color: #313131;
}

.remind-popup .input-text-remind {
	margin: 10px 0 15px 0;
	color: #758096;
	font-weight: bold;
	position: relative;
}

.remind-popup .input-text-remind span.icon {
	position: absolute;
	top: 10px;
	right: 5px;
}

.remind-popup .input-text-remind input[type="text"] {
	line-height: 1.6em;
}

/************** FOOTER ************/
strong{
	font-weight: bold;
}
.ui-footer{
	padding: 10px 0;
	color: #9b9b9b;
	font-size: 12px;
	text-align: center;
	line-height: 18px;
	border-top: 1px solid #dfdfdf;
	background: #ededed;
}

.ui-footer a{
	text-decoration: none;
	color: #9b9b9b !important;
	font-weight: normal !important;
}

/************ MODAL ****************/
#simplemodal-overlay {background-color:#000;}


.ios-arrow-left {
    left: 10px !important;
    background-repeat:repeat-x;
    height: 35px;
    padding: 0 10px 0 10px;
    z-index : 0;
    line-height : 35px;
}
 
 /*
.ios-arrow-left:before{
    position:absolute;
    top:6.9%;
    left:-13px;
    background: -moz-linear-gradient(top,  #686868 0%, #5a5a5a 85%, #4d4d4d 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#686868), color-stop(85%,#5a5a5a), color-stop(100%,#4d4d4d));
	background: -webkit-linear-gradient(top,  #686868 0%,#5a5a5a 85%,#4d4d4d 100%);
	background: -o-linear-gradient(top,  #686868 0%,#5a5a5a 85%,#4d4d4d 100%);
	background: -ms-linear-gradient(top,  #686868 0%,#5a5a5a 85%,#4d4d4d 100%);
	background: linear-gradient(top,  #686868 0%,#5a5a5a 85%,#4d4d4d 100%);
    height : 30px;
    width: 30px;
    transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
    border-radius: 0 45px 100px 45px;
    -moz-border-radius: 0 45px 100px 45px;
    -webkit-border-radius: 0 45px 100px 45px;
    z-index : -1;
    content : '';
    -webkit-mask-image : -webkit-gradient(linear, left top, right bottom, from(#000000), color-stop(0.5,#000000), color-stop(0.5, transparent), to(transparent));
    -moz-mask-image : -moz-gradient(linear, left top, right bottom, from(#000000), color-stop(0.5,#000000), color-stop(0.5, transparent), to(transparent));
}

.ios-arrow-left:hover:before{
	background: -moz-linear-gradient(top,  #8a8a8a 0%, #5a5a5a 85%, #4d4d4d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8a8a8a), color-stop(85%,#5a5a5a), color-stop(100%,#4d4d4d));
	background: -webkit-linear-gradient(top,  #8a8a8a 0%,#5a5a5a 85%,#4d4d4d 100%);
	background: -o-linear-gradient(top,  #8a8a8a 0%,#5a5a5a 85%,#4d4d4d 100%);
	background: -ms-linear-gradient(top,  #8a8a8a 0%,#5a5a5a 85%,#4d4d4d 100%);
	background: linear-gradient(top,  #8a8a8a 0%,#5a5a5a 85%,#4d4d4d 100%);s
}*/
