/* -------------------------------------------------------------- 
   Boilerplate reset.css 
   * Resets default browser CSS.
-------------------------------------------------------------- */

/* Clear fix */
.clear { clear: both }

/* Removes Firefox imposed outline */
a { outline: none; }

.main-center { margin: 0 auto; width: 1100px; position: relative; }
.main-center:after { clear: both; }

/* Clearing floats without extra markup  */
.f-left { float: left; }
.f-left-all > *  { float: left; }
.f-left-all > *:last-child:after { clear: both; }

.f-right { float: right; }
.f-right-all > * { float: right; } 

.a-left { text-align: left !important; }
.a-right { text-align: right !important; }
.a-center { text-align: center !important; }

.margin-top15 { margin-top: 15px !important; }
.margin-top25 { margin-top: 25px !important; }
.margin-left260 { margin-left: 260px !important; }

.padding-top15 { padding-top: 15px !important; }
.padding-top30 { padding-top: 30px !important; }
.padding-top16{ padding-top: 16px !important; }
.padding-right100 { padding-right: 100px !important; }
.padding50 { padding: 50px !important; }
.no-padding { padding: 0 !important; }

.no-border-bottom { border-bottom: none !important; }

.color-expired, .color-expired:hover, .color-expired:visited, 
.color-archive, .color-archive:hover, .color-archive:visited { color: #c3c3c3 !important; }
.color-pending, .color-pending:hover, .color-pending:visited, 
.color-reject, .color-reject:hover, .color-reject:visited, 
.color-draft, .color-draft:hover, .color-draft:visited { color: #f69140 !important; }
.color-active, .color-active:hover, .color-active:visited,
.color-publish, .color-publish:hover, .color-publish:visited { color: #99a845 !important; }

.color-green *,.color-green { color: #c6e265 !important; }
.color-orange *,.color-orange { color: #ebb55f !important; }
.color-blue *,.color-blue { color: #379dcd !important; }
.color-red *,.color-red { color: #f4aa86 !important; }
.color-default *,.color-default { color: #71707e !important; }

.width50 { width: 48%; }
.content-dot {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.btn-default { 
	width: 100%;
	height: 44px;
	line-height: 44px;
	font-weight: bold;
	text-align: left;
	padding-left: 15px;
	position: relative;
}

.btn-default span.icon {
	position: absolute;
	top: 0;
	right: 10px;
}

.btn-default span.icon:before {
	font-size: 15px;
}

.icon-default {
	position: relative;
}

.icon-default span.icon {
	position: absolute;
	right: 0;
}

/********* Modal default style ********/
#lean_overlay {
    position: fixed;
    z-index: 10000;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.modal-job {
	width: 590px;
	display: none;
	background-color: #565656;
	/*overflow: hidden;*/

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 10px;
	opacity: 0.5;
	-moz-opacity: 0.5;
	filter:alpha(opacity=5);
}

.modal-close {
	position: absolute;
	top: -6px;
	right: -6px;
	cursor: pointer;
	width: 25px;
	height: 25px;
	background: url(../img/close_modal.png) no-repeat;
	z-index: 1000;
}

.modal-job .edit-job-inner {
	background-color: #f4f4f4;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	/*overflow: hidden;*/
}

/********* Tooltips default style ************/
.tooltip { 
	position: relative; 
}

.tooltip-wrapper { 
	width: auto;
	position: absolute; 
	top: 15px;
	color: #FFF;
	font-weight: bold;
	display: none;
	z-index: 1000 !important;
}

.tooltip-top { /* Top section of the tooltip */
	margin-left: 50%;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;	
	border-bottom: 5px solid #d94f4f;	
}

.tooltip-content { /* Middle section of the tooltip */
	padding: 4px 0;
	background: #d94f4f;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 12px;
	font-weight: none;
	text-transform: none;
	font-family: Arial, sans-serif;
	text-align: center;
}

.tooltip-btm { /* Top section of the tooltip */
	margin-left: 50%;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;	
	border-top: 5px solid #d94f4f;	
}